Repository DWDemoOrg/openhack-devops-team4, changes with the owners that CODEOWNERS names for each.
All owners: @classicboyir, @dwillis50, @dwirefs, @hoyapark, @faisalrajib

CODEOWNERS:

/apis/poi/ @classicboyir @dwillis50
/apis/trips/ @dwirefs @dwillis50
/apis/user-java/ @hoyapark @classicboyir
/apis/userprofile/ @faisalrajib @dwirefs

Update userprofile.yml
  .github/workflows/userprofile.yml
Owners: none

Update README.md
  apis/userprofile/README.md
Owners: @faisalrajib, @dwirefs

Update userprofile.yml
  .github/workflows/userprofile.yml
Owners: none

Update userprofile.yml
  .github/workflows/userprofile.yml
Owners: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: none

Create bug_report.md
  .github/bug_report.md
Owners: none

Delete ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: none

Rename bug_report.md to ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: none

Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: none

Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: none

Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: none

Added release jobs and build number
  .github/workflows/userprofile.yml
  package-lock.json
Owners: none

bug fix
  apis/userprofile/server.js
Owners: @faisalrajib, @dwirefs

Put back if-present
  .github/workflows/userprofile.yml
Owners: none

Added the workflow for other apps
  .github/workflows/poi.yml
  .github/workflows/trips.yml
  .github/workflows/user-java.yml
Owners: none

Updated deployment to staging
  .github/workflows/userprofile.yml
Owners: none

Added publish profile
  .github/workflows/userprofile.yml
Owners: none

updated pub profile and dev env
  .github/workflows/userprofile.yml
Owners: none

Added the other API workflows
  .github/workflows/poi.yml
  .github/workflows/trips.yml
  .github/workflows/user-java.yml
  .github/workflows/userprofile.yml
  apis/trips/tripsgo/.evn
Owners: @dwirefs, @dwillis50

updated readme
  apis/userprofile/README.md
Owners: @faisalrajib, @dwirefs

Small change to java-user
  .github/workflows/user-java.yml
Owners: none

Added the rest of api workflows
  .github/workflows/poi.yml
  .github/workflows/trips.yml
  .github/workflows/user-java.yml
  .github/workflows/userprofile.yml
Owners: none

fix poi
  .github/workflows/poi.yml
Owners: none

javauser fix
  .github/workflows/user-java.yml
Owners: none

javauser fix
  .github/workflows/user-java.yml
Owners: none

gi version
  .github/workflows/trips.yml
Owners: none

verison 1.14
  .github/workflows/trips.yml
Owners: none

edit poi build
  .github/workflows/poi.yml
Owners: none

same as above
  .github/workflows/poi.yml
Owners: none

same
  .github/workflows/poi.yml
Owners: none

poi update
  .github/workflows/poi.yml
Owners: none

fix the go file
  .github/workflows/trips.yml
Owners: none

poi fix
  .github/workflows/poi.yml
Owners: none

poi updates
  .github/workflows/poi.yml
Owners: none

fixing the address
  .github/workflows/trips.yml
Owners: none

poi updates
  .github/workflows/poi.yml
Owners: none

only unit test for .net
  .github/workflows/poi.yml
Owners: none

only unit test for .net
  .github/workflows/poi.yml
Owners: none

only unit test for .net
  .github/workflows/poi.yml
Owners: none

only unit test for .net
  .github/workflows/poi.yml
Owners: none
